In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

download dataset from kaggle.com and save in google drive

In [6]:
#! wget -O yelp_reviews.zip 'https://storage.googleapis.com/kaggle-data-sets/176267/397518/compressed/yelp_academic_dataset_review.csv.zip?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1588125031&Signature=ptQQ%2F%2BVilh%2FPes3vB%2BODAQ%2BfHmAktz98JZ1ld2sDIS3jkD8GcLxgb0HWeJIYpuUH3%2BUr90J89LUHAiujailyAVa5VCEnZJkkBsB1JTUc3SQpGhEg9ncbGPcU0ptHAuS8BLP5aO4RDgkLu9otDAR6m0ja3BpFzR%2F4VvutOaSf783%2FUX6Ekc7%2BPjW%2Fbn3uxFDF1YUDnzizXZQ6sEyjOFPnxzCSqZ2rOqH8SN1LwzV%2B8uO52mPjDYwoLCWULK28%2FIoWf3G%2BwOkAdLlOA6HEUVPAB3Pv0odkLd4d1ni9rewjbM95fBjnqYZnSr%2FkvTgNhmPnD3VH1ZUMtDWnPkumIJXBfw%3D%3D&response-content-disposition=attachment%3B+filename%3Dyelp_academic_dataset_review.csv.zip'
#! unzip yelp_reviews.zip

--2020-05-14 18:34:59--  https://storage.googleapis.com/kaggle-data-sets/176267/397518/compressed/yelp_academic_dataset_review.csv.zip?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1588125031&Signature=ptQQ%2F%2BVilh%2FPes3vB%2BODAQ%2BfHmAktz98JZ1ld2sDIS3jkD8GcLxgb0HWeJIYpuUH3%2BUr90J89LUHAiujailyAVa5VCEnZJkkBsB1JTUc3SQpGhEg9ncbGPcU0ptHAuS8BLP5aO4RDgkLu9otDAR6m0ja3BpFzR%2F4VvutOaSf783%2FUX6Ekc7%2BPjW%2Fbn3uxFDF1YUDnzizXZQ6sEyjOFPnxzCSqZ2rOqH8SN1LwzV%2B8uO52mPjDYwoLCWULK28%2FIoWf3G%2BwOkAdLlOA6HEUVPAB3Pv0odkLd4d1ni9rewjbM95fBjnqYZnSr%2FkvTgNhmPnD3VH1ZUMtDWnPkumIJXBfw%3D%3D&response-content-disposition=attachment%3B+filename%3Dyelp_academic_dataset_review.csv.zip
Resolving storage.googleapis.com (storage.googleapis.com)... 64.233.189.128, 2404:6800:4008:c07::80
Connecting to storage.googleapis.com (storage.googleapis.com)|64.233.189.128|:443... connected.
HTTP request sent, awaiting response... 400 Bad Request
2020-05-14 18:34:59 ERROR 400: Bad Request.

Archive:  yelp_reviews.zip
  End-of-central-directory signature not found.  Either this file is not
  a zipfile, or it constitutes one disk of a multi-part archive.  In the
  latter case the central directory and zipfile comment will be found on
  the last disk(s) of this archive.
unzip:  cannot find zipfile directory in one of yelp_reviews.zip or
        yelp_reviews.zip.zip, and cannot find yelp_reviews.zip.ZIP, period.

In [3]:
#! ls -la

total 20
drwxr-xr-x 1 root root 4096 May 14 18:34 .
drwxr-xr-x 1 root root 4096 May 14 18:20 ..
drwxr-xr-x 1 root root 4096 May  8 16:16 .config
drwx------ 4 root root 4096 May 14 18:34 drive
drwxr-xr-x 1 root root 4096 May  4 16:26 sample_data
-rw-r--r-- 1 root root    0 May 14 18:34 yelp_reviews.zip

In [0]:
import pandas as pd

Read dataset from google drive

In [0]:
df = pd.read_csv('/content/drive/My Drive/yelp_academic_dataset_review.csv')

In [0]:
df.head()

### Clean dataset by removing the b in front of all entries and also the inverted commas present in all string values

In [0]:
for col in df.columns:
    df[col] = df[col].apply(lambda x: x[1:].lstrip(').rstrip('))

In [0]:
for col in df.columns:
    if col not in ['funny','cool','useful','stars']:
        df[col] = df[col].apply(lambda x: x.lstrip("'").rstrip("'").lstrip('"').rstrip('"'))

In [0]:
df_head()

Create a subset from of 1500000 rows. This would be used for Oracle BDCE Machine Learning

In [0]:
df_ml = df[0:1500000:1]

In [0]:
len(df_ml)

Write new dataframe into google drive

In [0]:
#df1.to_csv('/content/drive/My Drive/clean_data.csv')

Read dataframe fro googledrive

In [0]:
#df_ml = pd.read_csv('/content/drive/My Drive/clean_data.csv')

Convert Alphanumeric values of string data type into Numeric Values

In [0]:
id_list = list(set(df_ml.user_id))
id_list2 = list(set(df_ml.business_id))
id_list3 = list(set(df_ml.review_id))

In [0]:
df_ml['user_id'] = df_ml['user_id'].apply(lambda x: id_list.index(x))

In [0]:
df_ml['business_id'] = df_ml['business_id'].apply(lambda x: id_list2.index(x))

In [0]:
df_ml['review_id'] = df_ml['review_id'].apply(lambda x: id_list3.index(x))

In [0]:
df_ml.head()

Normalizing User_id, business_id, and review_id columns in preparation for Machine Learning

In [0]:
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing

In [0]:
x = df_ml[['user_id']].values.astype(float)
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df_normalized = pd.DataFrame(x_scaled)

In [0]:
y = df_ml[['business_id']].values.astype(float)
min_max_scaler = preprocessing.MinMaxScaler()
y_scaled = min_max_scaler.fit_transform(y)
df_norm = pd.DataFrame(y_scaled)

In [0]:
z = df_ml[['review_id']].values.astype(float)
min_max_scaler = preprocessing.MinMaxScaler()
y_scaled = min_max_scaler.fit_transform(z)
df_normal = pd.DataFrame(y_scaled)

In [0]:
df_ml['user_id'] = df_normalized

In [0]:
df_ml['business_id'] = df_norm

In [0]:
df_ml['review_id'] = df_normal

In [0]:
df_ml.head()

Write new dataframe into google drive
df_ml will be used for Oracle BDCE while df2 will be used for databricks BDCE

In [0]:
df2 = df_ml[0:120000:1]

In [0]:
df_ml.to_csv('/content/drive/My Drive/scaled_clean_data.csv')

In [0]:
df2.to_csv('/content/drive/My Drive/scaled_subset.csv')

DATA ANALYSIS USING SCALED_SUBSET.CSV

In [0]:
#IMPORTING DATA FRAME ONCE MORE

In [0]:
import pandas as pd
import pandas.util.testing as tm
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.rcParams['figure.figsize'] = 12, 6
import warnings
warnings.filterwarnings('ignore')

In [0]:
df_ml = pd.read_csv('/content/drive/My Drive/scaled_subset.csv')

Boxplots and Linear Regression plots to show relatioships between the useful, cool, funny and stars column

In [0]:
vis1 = sns.boxplot(data = df_ml, x = 'stars', y = 'cool')

In [0]:
vis2 = sns.boxplot(data = df_ml, x = 'stars', y = 'funny')

In [0]:
vis3 = sns.boxplot(data = df_ml, y = 'useful', x = 'stars')

In [0]:
sns.set_style('darkgrid')
f, axes = plt.subplots(2, 2, figsize = (15, 15))
vis1 = sns.boxplot(data = df_ml, x = 'stars', y = 'cool', ax = axes[0, 0])
vis2 = sns.boxplot(data = df_ml, x = 'stars', y = 'funny', ax = axes[0, 1])
vis3 = sns.boxplot(data = df_ml, y = 'useful', x = 'stars', ax = axes[1, 0])
vis01 = sns.lmplot(data = df_ml, x = 'cool', y = 'cool', fit_reg = False, hue = 'stars', scatter_kws = {'s':100})

In [0]:
vis11 = sns.lmplot(data = df_ml, x = 'cool', y = 'funny', fit_reg = False, hue = 'stars', scatter_kws = {'s':100})

In [0]:
vis12 = sns.lmplot(data = df_ml, x = 'cool', y = 'useful', fit_reg = False, hue = 'stars', scatter_kws = {'s':100})

In [0]:
vis13 = sns.lmplot(data = df_ml, x = 'useful', y = 'funny', fit_reg = False, hue = 'stars', scatter_kws = {'s':100})

PLOT to generate Top 25 Words In from the text column for each of the ratings in the stars column

In [0]:
import nltk

In [0]:
nltk.download('stopwords')
nltk.download('punkt')

In [0]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.probability import FreqDist
from nltk.util import bigrams
import string
import re

In [0]:
stop_words = set(stopwords.words('english'))

Create new column 'tokens'

In [0]:
df_ml['tokens'] = df_ml['text'].apply(lambda x: word_tokenize(x) )

In [0]:
def rm_stop_words(tokens):
    filtered = [w for w in tokens if not w.lower() in stop_words] 
    return filtered

def rm_puctuation(tokens):
    init_filter = [w for w in tokens if w not in string.punctuation]
    table = str.maketrans('', '', string.punctuation)
    stripped = [w.translate(table) for w in init_filter]
    clean = [w for w in stripped if w not in ['',' ']]
    return clean

def filter_tokens(tokens):
    filtered = rm_stop_words(tokens)
    new_tokens = rm_puctuation(filtered)
    return new_tokens

Create new column 'tokens_no_stopwords'

In [0]:
df_ml['tokens_no_stopwords'] = df_ml['tokens'].apply(lambda x: filter_tokens(x))

Create new column 'bigrams_'

In [0]:
df_ml['bigrams_'] = df_ml.tokens_no_stopwords.apply(lambda x: list(bigrams(x)))

In [0]:
o_reviews = df_ml[df_ml.stars == 1.0]
t_reviews = df_ml[df_ml.stars == 2.0]
th_reviews = df_ml[df_ml.stars == 3.0]
f_reviews = df_ml[df_ml.stars == 4.0]
fi_reviews = df_ml[df_ml.stars == 5.0]
#th_reviews.head()

In [0]:
o_fdist = FreqDist(word.lower() for word_lst in o_reviews.tokens_no_stopwords for word in word_lst)
t_fdist = FreqDist(word.lower() for word_lst in t_reviews.tokens_no_stopwords for word in word_lst)
th_fdist = FreqDist(word.lower() for word_lst in th_reviews.tokens_no_stopwords for word in word_lst)
f_fdist = FreqDist(word.lower() for word_lst in f_reviews.tokens_no_stopwords for word in word_lst)
fi_fdist = FreqDist(word.lower() for word_lst in fi_reviews.tokens_no_stopwords for word in word_lst)

PLOT GRAPH FOR TOP 25 WORDS IN EACH OF THE RATINGS IN STARS COLUMN

In [0]:
o_fdist.plot(25,title="Top 25 Words In 1 star")

In [0]:
t_fdist.plot(25,title="Top 25 Words In 2 star")

In [0]:
th_fdist.plot(25,title="Top 25 Words In 3 star")

In [0]:
f_fdist.plot(25,title="Top 25 Words In 4 star")

In [0]:
fi_fdist.plot(25,title="Top 25 Words In 5 star")

Plot graphs of day, months with stars as legend to understand the relation if any

In [0]:
import os
import pandas as pd
import pandas_profiling as pf
from datetime import datetime as dt
import calendar
import pickle

In [0]:
def get_day(date_string):
    return calendar.day_name[dt.strptime(date_string, "%Y-%m-%d %H:%M:%S").weekday()]
def get_month(date_string):
    return calendar.month_name[dt.strptime(date_string, "%Y-%m-%d %H:%M:%S").month]

Create new columns day and month

In [0]:
df_ml['day'] = df_ml.date.apply(lambda x: get_day(x))
df_ml['month'] = df_ml.date.apply(lambda x: get_month(x))

In [0]:
pd.crosstab(df_ml.day, df_ml.stars).plot(kind='bar',rot=1,title='Distribution of reviews by Day')

In [0]:
pd.crosstab(df_ml.month, df_ml.stars).plot(kind='bar',rot=1,title='Distribution of reviews by Months')